body{
    background:#f3f3f3;
    text-align: center;
}

.Main{
    margin: 300px;
    background-color: #ffff;
    border-radius: 15px;
    box-shadow: 0 0 20 rgba(56, 51, 51, 0.2);
    padding: 80px 40px;
    transition: transform 0.2s;
    width:500px;
    height:100px;
    border: #e8e3e3 solid 2px;

}
 h2{
    font-size: x-large;
    text-align: center;
    color: blue;


 }